{
  "presets": [
    "@babel/react",
    "@babel/typescript",
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [ "@babel/plugin-transform-runtime" ],
    [ "babel-plugin-styled-components", { "pure": true }]
]
}